{% extends 'my_admin/pattern.html' %}
{% load static %}
{%block title%}All orders{%endblock%}
{% block content %}
        <section class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'start_admin' %}">Home</a></li>

                    <li class="breadcrumb-item active" aria-current="page">All orders</li>
                </ol>
            </nav>
            <h1>All orders</h1>
            <div class="card border-dark col-12 p-0">
                <form class="card-body row justify-content-around align-items-center">
                    <nav class="navbar  row col-lg-12 col-md-12 col-sm-12 p-0 p-sm-3 p-lg-0">
                        <div class="form-inline col-12 align-items-start mb-lg-3">
                            <div class="form-inline col-lg-2 p-0">
                                <a href="{% url 'admin_add_order' %}" class="btn btn-success w-100">Add</a>
                            </div>
                            <div class="form-inline col-lg-8 p-0 px-lg-2  my-4 my-lg-0 ">
                                <input class="form-control col-lg-12 col-12 mb-lg-0 mb-2 mr-2 " type="search"
                                    placeholder="Поиск" aria-label="Поиск">
                                <div class="row col-12 justify-content-md-center justify-content-start">
                                    <div class=" form-check-inline col-md-3 col-12 p-0">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">by name</label>
                                </div>
                                <div class=" form-check-inline col-md-3 col-12 p-0">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">by email</label>
                                </div>
                                <div class=" form-check-inline col-md-4 col-12 p-0">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">by phone</label>
                                </div>
                                </div>

                            </div>
                            <div class="form-inline col-lg-2 p-0">
                                <button class="btn btn-outline-primary col-lg-12 col-12 "
                                    type="submit">Search</button>
                            </div>
                        </div>
                    </nav>
                    <div class="col-lg-12 col-12 row justify-content-between mt-4 mt-lg-0 p-0 p-sm-3">
                        <div class="col-lg-4 col-12 justify-content-between d-md-flex d-lg-block pl-lg-0">
                            <div class="justify-content-between d-flex align-items-center col-lg-12 col-md-6 col-12 p-0">
                                <label class="col-2 p-0">From</label>
                                <input type="date" class="form-control col-9">
                            </div>
                            <div class="justify-content-between d-flex align-items-center col-lg-12 col-md-6 col-12 p-0">
                                <label class="col-2 p-0 ml-md-4 ml-lg-0">To</label>
                                <input type="date" class="form-control  col-9 mt-1">
                            </div>

                        </div>
                        <div class="form-group col-lg-3 col-12  my-3 my-lg-0  ">
                            <select class="form-control mb-1">
                                <option value="" disabled selected>Status</option>
                                <option>Active</option>
                                <option>Completed</option>
                                <option>Cancelled</option>
                                <option>Reserved</option>
                            </select>
                            <select class="form-control">
                                <option value="" disabled selected>Company</option>
                                <option>Company 1</option>
                                <option>Company 2</option>
                                <option>Company 3</option>
                            </select>
                        </div>
                        <div class="col-lg-5 d-md-flex d-lg-block col-12 pr-lg-0">
                            <div class="form-inline mx-auto col-lg-12 pr-lg-0 col-md-6 pr-md-3 p-0">
                                <div class="col-6  pl-0">
                                  <input type="number" placeholder="от"
                                    class="form-control col-lg-12 col-md-12 col-12 my-2 my-md-0">
                                </div>
                                <div class="col-6 pr-0">
                                    <input type="number" placeholder="до"
                                    class="form-control col-lg-12 col-md-12 col-12">
                                </div>
                            </div>
                            <div class="mx-auto form-check form-check-inline mt-lg-3 col-md-6 col-lg-12 p-0">
                                <div class="form-check p-0 ">
                                    <label class="form-check-label">Driver</label>
                                </div>
                                <div class="form-check text-center">
                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                        id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">Yes </label>
                                </div>
                                <div class="form-check text-center pl-2 pl-sm-3">
                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                        id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">No </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="mt-5">
                {% for x in orderget %}
                    <div class="card-header col-12">
                        <div class="row justify-content-between align-items-center  ">
                            <div class=" col-12 text-center col-sm-6 justify-content-md-around d-md-flex">
                                <h4>Order&nbsp;№{{x.id}}</h4>
                            </div>
                            <div class="col-12 text-center col-sm-6 text-md-right">
                                <a href="{% url 'admin_order' x.id  %}" class="btn btn-primary col-7 p-2">Go to</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body col-12 p-0 p-sm-3">
                        <div class="row p-2 justify-content-between">
                            <div class=" row col-lg-6 col text-md-left m-0 text-center justify-content-center   ">
                                <div class="row col-md-10 justify-content-md-between  ">
                                    <h5 class="d-none d-md-block">Name</h5>
                                    <h5>{{x.Client.Name}}</h5>
                                </div>
                                <div class="row col-md-10 justify-content-md-between ">
                                    <h5 class="d-none d-md-block">Phone</h5>
                                    <h5>{{x.Client.Phone}}</h5>
                                </div>
                                <div class="row col-md-10 justify-content-md-between ">
                                    <h5 class="d-none d-md-block">Status</h5>
                                    {% if x.Status == 0 %}
                                        <h5 class="text-success">Active</h5>
                                    {% elif x.Status == 1 %}
                                        <h5 class="text-warning">Cancelled</h5>
                                    {% else %}
                                        <h5 class="text-danger">Completed</h5>
                                    {% endif %}
                                </div>
                            </div>
                            <div class=" row col-lg-6 text-md-left m-0 text-center justify-content-center    ">
                                <div class="row col-md-10 justify-content-md-between">
                                    <h5 class="d-none d-md-block">Cost</h5>
                                    <h5>{{x.Cost}}₽</h5>
                                </div>
                                <div class="row col-md-10 justify-content-md-between ">
                                    <h5 class="d-none d-md-block">Driver</h5>
                                    {% if x.Driver == 1 %}
                                        <h5 class="d-none d-md-block text-success">Yes</h5>
                                    {% else %}
                                        <h5 class="d-none d-md-block text-danger">No</h5>
                                    {% endif %}
                                </div>
                                <div class="row col-md-10 justify-content-md-between ">
                                    <h5 class="d-none d-md-block">Transport</h5>
                                    <h5>{{x.Car.Brand_and_name}}</h5>
                                </div>
                                <div class="row col-md-10 justify-content-md-between ">
                                    <h5 class="d-none d-md-block">Date</h5>
                                    <h5>{{x.DateStartContract|date:"SHORT_DATE_FORMAT"}}-{{x.DateEndContract|date:"SHORT_DATE_FORMAT"}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                {%endfor%}
                </div>
                <div>
                    <nav>
                        <ul class="pagination justify-content-center">
                            {% if is_paginated %}
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">&#171;</a>
                            </li>
                            {% endif %}
                            {% for num in page_obj.paginator.page_range %}
                            {% if num == page_obj.number %}
                            <li class="page-item  active"><a class="page-link " href="#">{{ num }}</a></li>
                            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&#187;</a>
                            </li>
                            {% endif %}
                            {% endif %}
                        </ul>
                    </nav>
                </div>
        </section>
{% endblock %}
