@media screen and (max-width:1280px) {
header,main,footer{
  max-width: 100%;
}
}
@media screen and (orientation: landscape) {


    /* -----------------------MOBILE HEADER LANDSCAPE----------------- */
    .mobile-menu__list {
        transition: .5s;
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-flow: row wrap;
        width: 50%;
        justify-content: space-between;
        margin-bottom: 7%;

        /* width: 50%; */
        }


        .mobile-menu__item{
            padding: 4%;
        }
        .Buttonrequest{
            width: 100%;
        padding: 1.8%;
        font-size: 1.4em;
        background-color: rgb(255, 255, 255);
        border: #d8d8d8e7 2.5px solid;
        border-radius : 20px;
        background: #be1717;
        }

        .mobile-menu__item .fa-user-circle:hover{
            color: black;
        }

        .mobile-menu__list li:last-child{
            padding-top: 2%;
        }
/* -----------------------MOBILE HEADER LANDSCAPE----------------- */

/* -------------CONTENT-----------------------------     */
.CardBig{
    width: 40%;
  }


/* -------------CONTENT-----------------------------     */


}
@media screen and (max-width: 1024px) {

/* -------------HEADER-----------------------------     */
    header{
        display: none;
    }

    .mobile_header{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around  ;
        width: 100%;
      }

      #block4{
        width:20%;
        text-align: center;
      }
      #block4 button{
        width: 90%;
        padding: 1.8%;
        font-size: 1.3em;
        background-color: rgb(255, 255, 255);
        border: #d8d8d8e7 2.5px solid;
        border-radius : 20px;
        background: #ffffff;

      }
      #block4 button:hover{

          background: white;
          color: black;
          transition-duration: none;
        }
      .Buttonrequest{
        width: 100%;
        padding: 1.8%;
        font-size: 1.4em;
        background-color: rgb(255, 255, 255);
        border: #d8d8d8e7 2.5px solid;
        border-radius : 20px;
        background: #ffffff;
      }

      .phone{
        width: 95%;
        display:flex;
        align-items: center;
        font-size: 1.3em;
      }

/* -------------END HEADER-----------------------------     */



/* -------------CONTENT-----------------------------     */


h1{
    text-align: center;
}

/* -----------------INDEX--------------------------------- */
  /* fotorama */
  .fr{
    width: 98vw;
    max-width: 98vw;

}
  .fotorama_carlist.fr{
    width: 65%;
    max-width:65%;

}

/* fotorama */


.CardBig{
    display: flex;
    flex-flow: column;
    align-items: center;
  }
.CardBig div:last-child{
    padding: 5%;
  }




.yamap{
   width: 100%;

}
.Map iframe{
   width: 100%;
   padding-top: 10%;
}

.Map{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
}


/* -----------------INDEX--------------------------------- */


/* -----------------CATALOG--------------------------------- */

    .Types{
        width: 90%;
        transform: none;
    }

    .Types:nth-child(5){
        margin-bottom: 10%;
    }
    .Types:nth-child(6) figure{
        margin-bottom: 0%;
    }

    .Types figure:hover{
        background-color: transparent;
        transform: none;
    }
/* -----------------CATALOG--------------------------------- */


/* -----------------RentCondition--------------------------------- */


.documents{
    font-size: x-large;
    padding-bottom: 5%;
    display: flex;
    width: 100%;
    flex-flow: row;
    align-items: center;
  }
  .documents figure:hover{
   transform: none;
   transition-duration: none;
   background-color: transparent;
   border-radius: 0%;
  }
  .documents figure{
  padding: 10%;
  text-align: center;
  width: 50%;
  transition-duration: 0.5s;
  }
  .documents figcaption{
  padding: 5%;
  text-align: center;
  }

  .acor-container label:hover {
    color: black;

  }


/* -------------RentCondition-----------------------------     */

.documents figure{
    padding: 5%;
    text-align: center;
    width: 35%;
    transition-duration: 0.5s;
    }
/* -------------RentCondition-----------------------------     */

/* -----------------Contact-------------------------     */


    .BoxContact{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 5% 0%;
      }

      .yamap_contact{
          width: 90%;
          padding: 5% 0;
      }

      .textarea_mail textarea{
        height: 178px;
      }

/* -----------------Contact-------------------------     */

/* -----------------Review-------------------------     */
.boxreview{
  width: 85%;
}


.Hreview{
    width: 100%;
    justify-content: space-around;
}

.Hreview :nth-child(2) {
    display: none;
  }
  .Hreview a:last-child {
    display: block;
    font-size: 3em;
  }

  .imagereview{
    width: 25%;

  }

/* -----------------Review-------------------------     */



/* -----------------CarList-------------------------     */

.mobile_filter{
  display: flex;
  width: 94%;
  justify-content: space-between;
 flex-flow: row wrap;

}
.mobile_filter_input{
  display: flex;
}

.mobile_sort:target{
  transition-duration: 5s;
  display: flex;
  width: 94%;
  justify-content: space-between;

}

.boxcarfilter{
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.Cardcar {
  width: 46%;
  padding: 3% 2%;
}

.boxcar {
  flex-flow: column;
  align-items: center;
}

.fotorama_carlist.fr {
  width: 95%;
  max-width: 95%;
}

.boxcarfilter .big-box{
  width: 100%;
  flex-flow: row wrap;

}

.content_card_car {
  order: 1;
  width: 90%;
}
.filtercar{
  display: none;
}
.description{
  width: 95%;
}

.selectcar:hover{
  background: #ffffff;
  color: rgb(0, 0, 0);
}

.boxcar:hover{

  background-color: #a8a7a773;
  transition-duration: 0.5s;

}

.inputs_mobile .MainHeader{
  padding: 2% 0% 3%;
}

.fas.fa-filter{
display: none;
}

.sort_and_num{
  display: none;
}
/* -----------------CarList-------------------------     */

/* -----------------Carcard-------------------------     */
.submit_button_admin{
  flex-flow: column;
  width: 71%;
}
.button_admin{
  margin: 1% 0;
}


.datepicker-here{
  width: 70%;
}



.big_card_content{
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* background-color: yellow; */
}
.small_card_content1{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  /* background-color: turquoise; */
}

.fotorama_carcard{
  width:95%;
}
.acor_box{
  padding: 5% 0;
  width: 95%;
}

.rentdate{
  width: 70%;
}



.contain-card{
  width: 100vw;
}

.slider_card img{
  width: 100%;
}

.Cards{
  width: 70vw;
}

.image_rev{
  order: 2;
  width: 40%;
  padding-top: 2%;
  display: none

}


.input_time{
  width: 35%;
}
.input_date{
  width: 60%;
}

/* -----------------Carcard-------------------------     */


/* -----------------login_order-------------------------     */

.fotorama_order{
  width: 100%;
}
.left_card .selectcar_fav{
  margin-top: 15%;
}
/* -----------------login_order-------------------------     */



/* ------------------login_data-------------------------- */

.data_card{
  width: 95%;
}

.form_data{
  padding: 3% 1%;
}
.form_button input[type="submit"]{
  width: 100%;
}

.data{
  width: 37%;
}

.elements label{
  font-size: 90%;
}
/* ------------------login_data-------------------------- */

/* ------------------login_favorite-------------------------- */
.Cardcar_fav{
  width: 80%;
}

.fotorama_favorite{
  width: 62%;

}
.description_fav{
  width: 100%;
}
.selectcar_fav{
  padding: 3% 6%;
  font-size: 1.3em;
}


/* ------------------login_favorite-------------------------- */


/* ------------------login_carcard-------------------------- */

.messages{
  width: 70%;
}

/* ------------------login_carcard-------------------------- */

/* ------------------login_auth-------------------------- */

.column_auth{
  width: 35%;
}
/* ------------------login_auth-------------------------- */


/* -------------END CONTENT-----------------------------     */




/* -------------FOOTER-----------------------------     */
    .carrent-and-logo{
        width: 30%;
    }
    .CarRentLogo{
        height: calc(30vw * 0.25);
        padding-top: 3%;
    }
    .links{
        width: 15%;
    }
/* -------------END FOOTER-----------------------------     */
}

@media screen and (max-width: 850px){


/* -------------HEADER-----------------------------     */
    .phone{
        display: none;
      }

    .carrent-and-logo{
        width: 40%;
    }
    .CarRentLogo{
        height: calc(40vw * 0.25);
    }

/* -------------END HEADER-----------------------------     */



/* -------------Content-----------------------------     */


/* -------------RentCondition-----------------------------     */


.documents{
    font-size: x-large;
    padding-bottom: 5%;
    display: flex;
    width: 100%;
    flex-flow: row;
    align-items: center;
  }

.documents figure{
    padding: 5%;
    text-align: center;
    width: 35%;
    transition-duration: 0.5s;
    }

/* -------------RentCondition-----------------------------     */


/* -------------Pay-----------------------------     */

.form_mail{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }


  .input_mail{
      width: 95%;
    }
.input_mail p:last-child   {
    display: none;
    background-color: rebeccapurple;
    }
  .textarea_mail{
    display: flex;
    width: 91%;
  }
  .textarea_mail textarea{
    display: flex;
    width: 99%;
    height: 195px;
    font-size: 1.5em;
    resize: none;
  }
  .textarea_mail:last-child p{
    display: block;
  }

  .Feedback [type=submit]:hover{
    background: #1e847f;
    color: black;
    transition-duration: none;
    
  }

/* -------------Pay-----------------------------     */


/* -------------Contact-----------------------------     */


  .BoxContact{
    width: 100%;
    display: flex;
    flex-flow: column;
    /* justify-content: space-around; */
    align-items: center;
    padding: 5% 0%;

  }
  .Contact{
    margin-bottom: 10%;
    width: 80%;
  }

  .BoxContact .Feedback{
      width: 80%;
  }



/* -------------Contact-----------------------------     */
/* -------------Review-----------------------------     */

.name_and_date{
  width: 50%;
}

.boxreview{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}
.imagereview, #close_img{
    display: none;
  }
  #open_img:target {
    display: block;
    position: fixed;
    width: 40vw;
    top: 0;
    transition-duration: 0.4s;

  }
  #close_img:target +.boxreview img{
    display: none;
  }

  .open_photo{
    display: block;
  }


  .pagination a {
    font-size: 1.3em;
    padding: 12px 17px;
}
.boxreview:hover{
  transition-duration: 0.4s;
  border: 4px #000000 solid;
}


/* -------------Review-----------------------------     */

/* -----------------CarList-------------------------     */
.fotorama_carlist.fr{
  width: 97%;
  max-width:97%;

}

.Cardcar{
  width: 46%;
  padding: 3% 2%;
}

.boxcar{
  flex-flow: column;
  align-items: center;
}
.content_card_car{
  order: 1;
  width: 90%;
}

.boxcarfilter .big-box{
width: 100%;
flex-flow: row wrap;
}
.filtercar{
  display: none;
}
.description{
  width: 100%;
  padding: 3% 0;
}
.boxcar img{
  width: 90%;
}
.inputs_mobile p{
  width: 44%;
}
.mobile_filter{
  font-size: 0.9em;
}
.filter_button{
  display: none;
}
.fas.fa-filter{
  display: block;
  font-size: 3.5em;
  }
/* -----------------CarList-------------------------     */

/* -----------------Carcard-------------------------     */
.datepicker-here{
  width: 85%;
}

.submit_button_admin{
  width: 86%;
}

.carcard_fav1{
  display: none;
}
.carcard_fav2{
  display: block;
}

.big_card_content{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  /* background-color: yellow; */
}
.small_card_content1{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  /* background-color: turquoise; */
}

.fotorama_carcard{
  width:85%;
}
.acor_box{
  padding: 5% 0;
  width: 85%;
}

.rentdate{
  width: 85%;
}



.inputs{
  width: 65%;
  /* justify-content: space-between; */
}

.inputs :first-child * {
  justify-content: space-between;
}

.item_description .description {
font-size: 1em;

}
/* -----------------Carcard-------------------------     */
/* -----------------login_order-------------------------     */

.left_card .selectcar_fav{
  margin-top: 0;
  width: 65%;
}


.box_button{
  width: 100%;
}

.Cardcar_order{
  width: 45%;
  padding:3% 4% 2% 1%
}
.car_name_order{
  padding: 3%;
}
.boxcar_order{
width: 100%;
flex-flow: column;
align-items: center;
}
.left_card{
  width: 80%;
  order: 2;
}

.order_num{
  padding-top: 4%;
  padding-bottom: 4%;
}

.left_card div{
  padding: 3% 0;
}
.checkbox-green{
  transform: scale(1.1);
}
.right_card{
  width: 90%;
}
/* -----------------login_order-------------------------     */



/* ------------------login_favorite-------------------------- */
.Cardcar_fav{
  width: 47%;
  padding: 4% 1%;
}
.boxcar_fav{
  flex-flow: column;
  align-items: center;
}
.content_card_car_fav{
  order: 2;
  width: 100%;
}

.fotorama_favorite{
  width: 90%;

}
.description_fav{
  width: 100%;
}
.selectcar_fav{
  padding: 3% 6%;
  font-size: 1.3em;
}
.delete_fav{
  width: 95%;
  order: -1;
  text-align: right;
  font-size: 1.3em;
}
/* ------------------login_favorite-------------------------- */


/* ------------------login_data-------------------------- */

.form_button{
  width: 100%;
}
.form_button input[type="submit"]{
  width: 46%;
  padding: 2%;
}
.data{
  height: fit-content;
  padding-bottom: 3%;
  width: 45%;
}
.data:first-child > .elements{
  margin-bottom: 1.6%;
}

/* ------------------login_data-------------------------- */

/* ------------------login_carcard-------------------------- */
.rentdate h2{
  font-size: 1.7em;
}


.inputs_login [type=submit]{
  padding: 3%;
}

.inputs_login{
  width: 78%;
  /* font-size: 1.4em; */
}

.messages{
  width: 85%;
}
/* ------------------login_carcard-------------------------- */

/* ------------------login_auth-------------------------- */

.column_auth{
  width: 45%;
}




/* ------------------login_auth-------------------------- */








/* -------------ENDContent-----------------------------     */




/* -------------FOOTER-----------------------------     */
    .links{
        width: 15%;
    }

/* -------------END FOOTER-----------------------------     */

}
@media screen and (max-width: 600px){
/* -------------HEADER-----------------------------     */
    .mobile_header {
        height: 100px;
        justify-content: space-between;

    }
    .mobile_header .carrent-and-logo{
      width: 50%;
      padding: 0;
      margin-left: -4%;

    }

    .mobile_header .CarRentLogo{
        height: calc(40vw * 0.25);
    }

    #block3{
        /* transform: scale(1);
        font-size: large;
        text-align: center; */
        display: none;

      }

      #block4{
        width: 20%;
      }
      #block4 button{
        width: 100%;
        font-size: 1.2em;
        padding: 5%;
      }


    .phone{
        display: none;
      }

/* -------------END HEADER-----------------------------     */
/* -------------CONTENT-----------------------------     */
.column_auth{
  width: 60%;
}

.Cards{
  width: 100vw;
}

    .bread2 {
        padding-top: 5%;
    }

    .MainHeader{
        padding-top: 10%;
        line-height: 40px;
}



.documents{
    font-size: x-large;
    padding-bottom: 5%;
    display: flex;
    width: 100%;
    flex-flow: column;
    align-items: center;
  }

  .documents figure{
    padding: 5%;
    text-align: center;
    width: 60%;
    transition-duration: 0.5s;
    }
    .cashcondition{
        font-size: 1.2em;
    }

 .Feedback{
     width: 60%;
     margin-bottom: 5%;
 }



/* -------------Contact-----------------------------     */

 .BoxContact{
    width: 100%;
    display: flex;
    flex-flow: column;
    /* justify-content: space-around; */
    align-items: center;
    padding: 5% 0%;

  }
  .Contact{
    margin-bottom: 10%;
    width: 80%;
  }

  .BoxContact .Feedback{
      width: 80%;
  }



/* -------------Contact-----------------------------     */

/* --------------catalog-------------------------------- */
.RentCategory{
  margin-bottom: -8%;
    margin-top: -8%;
}


/* --------------catalog-------------------------------- */


/* -------------Review-----------------------------     */

.Hreview{
padding: 1% 0;

}

.name_and_date {
  width: 65%;
}

.open_photo {
  font-size: 1.3em;
}

.pagination-item {
  margin-right: 18px;
}

.pagination a {
  font-size: 1.1em;
  padding: 12px 17px;
}


/* -------------Review-----------------------------     */

/* -----------------CarList-------------------------     */

.Cardcar{
  width: 100%;
}

.boxcar{
  flex-flow: column;
  align-items: center;
}
.content_card_car{
  order: 1;
  width: 90%;
}

.boxcarfilter .big-box{

width: 100%;

}
.filtercar{
  display: none;
}
.content_card_car .description{
  width: 100%;
  padding: 3% 0;
  font-size: 1.4em;
}
.boxcar img{
  width: 90%;
}
.selectcar {
  padding: 2% 14%;
}

.mobile_filter_input form{
  width: 96%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.inputs_mobile p{
  padding-bottom: 5%;
  width: 48%;
  box-sizing: border-box;
  /* font-size: 1.5em; */
}

.mobile_filter_button{
  width: 100%;
}

.mobile_filter_button .selectcar{
  padding: 2%;
  width: 43%;
}

.filter_param{
  justify-content: space-around;
}

.sort_card{
width: 45%;
}

.numer_card span{
  display: none;

}

/* -----------------CarList-------------------------     */

/* -----------------Carcard-------------------------     */


.carcard_fav1{
  display: none;
}
.carcard_fav2{
  display: block;
}

.big_card_content{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  /* background-color: yellow; */
}
.small_card_content1{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  /* background-color: turquoise; */
}

.fotorama_carcard{
  width:85%;
}
.acor_box{
  padding: 5% 0;
  width: 85%;
}

.inputs{
  width: 65%;
  /* justify-content: space-between; */
}

.inputs :first-child * {
  justify-content: space-between;
}

.item_description .description {
font-size: 1em;
width: 100%;

}
.rentdate{
  width: 85%;
}


/*
.slider_card{
  width: 95%;
}
.caritem {
  width: 45%;
}
.caritem:last-child {
  display: none;
} */




/* -----------------Carcard-------------------------     */

/* -----------------login_order-------------------------     */
#main-container{
  flex-flow: column;
  align-items: center;

}
.box_button{
  flex-flow: column;
  width: 70%;
  justify-content: space-between;
  height: 230px;
  text-align: center;
  font-size: 1.2em;
  align-items: unset;
}
.login_button{
  padding: 2%;
}



.login_button{
  font-size: 1.3em;
}
.Cardcar_order{
  width: 85%;
}
.order_num{
  font-size: 1.5em;
}
.right_card{
  width: 95%;
}
.left_card div{
  font-size: 1.2em;
}
.checkbox-green{
  transform: scale(1);
}


/* -----------------login_order-------------------------     */

/* ------------------login_favorite-------------------------- */
.Cardcar_fav{
  width: 85%;
  padding: 4% 1%;
}


.description_fav{
  width: 100%;
  font-size: 1.3em;
}
.selectcar_fav{
  padding: 3% 6%;
  font-size: 1.3em;
}
.delete_fav{
  width: 95%;
  order: -1;
  text-align: right;
  font-size: 1.3em;
}
/* ------------------login_favorite-------------------------- */


/* ------------------login_data-------------------------- */

 .form_button{
  padding-top: 5%;
}
.data{
  padding-bottom: 0;
  width: 85%;
}
.data:first-child > .elements{
  margin: 2% 0%;
}
.data input{
  width: 90%;
}
.form_data input[type="date"] {
  width: 72%;
}

/* ------------------login_data-------------------------- */

/* -------------END CONTENT-----------------------------     */




/* -------------FOOTER-----------------------------     */
    .carrent-and-logo{
        width: 70%;
    }
    .CarRentLogo{
        height: calc(70vw * 0.25);
    }
    .links{
        width: 40%;
    }
/* -------------END FOOTER-----------------------------     */
}
@media screen and (max-width: 480px){
/* -------------HEADER-----------------------------     */

    .mobile_header {
      justify-content: space-around;

    }
    .mobile_header .carrent-and-logo{
        width: 70%;
        margin: 0;
    }

    .mobile_header .CarRentLogo{
        height: calc(70vw * 0.25);
    }


    #block3{
        display: none;
      }

      #block4{
        width:20%;
        text-align: center;
        display: none;
      }
      #block4 button{
        width: 100%;
        padding: 1.8%;
        font-size: 0.9em;
        /* font-weight: 100; */
        background-color: rgb(255, 255, 255);
        border: #d8d8d8e7 2.5px solid;
        border-radius : 20px;
        background: #ffffff;

      }

/* -------------END HEADER-----------------------------     */
.column_auth{
  width: 80%;
}

.Feedback{
    width: 90%;
}
.form_mail{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .input_mail{
    width: 95%;
  }

  .input_mail p:last-child   {
    display: none;
    background-color: rebeccapurple;
    }
  .textarea_mail{
    display: flex;
    width: 90%;
  }
  .textarea_mail textarea{
    display: flex;
    width: 99%;
    height: 195px;
    font-size: 1.5em;
    resize: none;
  }
  .textarea_mail:last-child p{
    display: block;
  }

/* --------------catalog-------------------------------- */
.RentCategory{
  margin-bottom: -20%;
    margin-top: -20%;
}


/* --------------catalog-------------------------------- */
/* -------------Contact-----------------------------     */

.BoxContact{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 5% 0%;

  }
  .Contact{
    margin-bottom: 10%;
    width: 80%;
    font-size: 1.2em;
  }

  .BoxContact .Feedback{
      width: 80%;
  }


/* -------------Contact-----------------------------     */

/* -------------Review-----------------------------     */

.Hreview {
  width: 95%;
  font-size: 0.8em;
  justify-content: space-around;
  padding: 3% 0;
}
.Hreview h1 {
  font-size: x-large;
}

.name_and_date{
  justify-content: space-between;
  padding-bottom: 5%;
  width: 83%;
}


.pagination-item {
  font-size: 0.8em;
  margin-right: 14px;
}

.pagination a {
  font-size: 1.1em;
  padding: 12px 14px;
}

/* -------------Review-----------------------------     */

/* -----------------CarList-------------------------     */

.Cardcar{
  width: 100%;
}

.boxcar{
  flex-flow: column;
  align-items: center;
}
.content_card_car{
  order: 1;
  width: 100%;
}

.boxcarfilter .big-box{

width: 100%;

}
.filtercar{
  display: none;
}
.content_card_car .description{
  width: 100%;
  padding: 3% 0;
  font-size: 1.2em;
}
.boxcar img{
  width: 90%;
}
.selectcar {
  padding: 2% 14%;
}

.inputs_mobile{
  width: 100%;
  justify-content: center;
}
.inputs_mobile p{
  padding-bottom: 5%;
  width: 90%;
  box-sizing: border-box;
  /* font-size: 1.5em; */
}

.inputs_mobile input.input_half{
  width: 49%;
}

.mobile_filter_button .selectcar{
  padding: 3% 0%;
  width: 45%;
}

.sort_card{
  font-size: 1.4em;
}
.numer_card{
  width: 25%;
}

.fas.fa-filter{
  display: block;
  font-size: 3em;
  }


/* -----------------CarList-------------------------     */

/* -----------------Carcard-------------------------     */

.submit_button_admin{
  width: 96%;
}


.datepicker-here{
  width: 95%;
}



.carcard_fav1{
  display: none;
}
.carcard_fav2{
  display: block;
}

.big_card_content{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  /* background-color: yellow; */
}
.small_card_content1{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  /* background-color: turquoise; */
}

.fotorama_carcard{
  width:95%;
}
.acor_box{
  padding: 5% 0;
  width: 95%;
}

.inputs{
  width: 75%;
  /* justify-content: space-between; */
}

.inputs :first-child * {
  justify-content: space-between;
}

.item_description .description {
font-size: 1.2em;
width: 90%;

}
.rentdate{
  width: 95%;
}



/* .slider_card{
  flex-flow: column;
  align-items: center;
  width: 95%;
}
.caritem {
  width: 85%;
}
.slider_card >:nth-child(2){
  display: none;
} */






.char_content .column{
  font-size: 1.1em;
}
/* -----------------Carcard-------------------------     */

/* -----------------login_order-------------------------     */
.box_button{
  flex-flow: column;
  width: 70%;
  justify-content: space-between;
  height: 230px;
  text-align: center;
  font-size: 1.2em;
  align-items: unset;
}
.login_button{
  padding: 3.5%;
}



.Cardcar_order{
  padding: 3% 6% 2% 1%;
  width: 90%;
}



/* -----------------login_order-------------------------     */


/* ------------------login_favorite-------------------------- */
.Cardcar_fav{
  width: 95%;
  padding: 4% 1%;
}

.fotorama_favorite{
  width: 95%;
}



/* ------------------login_favorite-------------------------- */

/* ------------------login_data-------------------------- */

.elements{
  flex-flow: row wrap;
}
.form_data input[type="text"],
.form_data label {
  width: 100%;
  margin: 1% 0%;
}
.form_data input[type="date"] {
  width: 100%;
}
.form_data input[type="checkbox"]{
  transform: scale(2);
}
.block_category{
  width: 100%;
  font-size: 1.1em;
}
.form_button input[type="submit"]{
  width: 94%;
  margin-top: 4%;
  padding: 4% 0%;
}

/* ------------------login_data-------------------------- */

/* ------------------login_carcard-------------------------- */

.messages{
  width: 95%;
}
/* ------------------login_carcard-------------------------- */




/* -----------------Content-------------------------     */


/* -------------FOOTER-----------------------------     */
    .carrent-and-logo{
        width: 70%;
        padding: 0;
    }
    .CarRentLogo{
        height: calc(70vw * 0.25);
    }
    .links{
        width: 40%;
    }
/* -------------END FOOTER-----------------------------     */
}

@media screen and (max-width: 330px){
/* -------------HEADER-----------------------------     */

.mobile_header{

        justify-content: space-between;
    }

    .mobile_header .carrent-and-logo{
        width: 70%;
        padding-left: 5%;
    }

    .mobile_header .CarRentLogo{
        height: calc(70vw * 0.25);
    }

    .mobile_header div:last-child{
        padding-right: 5%;
    }


    .fa-align-justify{
        transform: scale(0.7);
        padding-right: 5%;
    }

    #block4{
        width:25%;
        text-align: center;
        display: none;

    }
    #block4 button{
        width: 95%;
        /* padding: 1%; */
        font-size: 0.8em;
        /* font-weight: 100; */
        background-color: rgb(255, 255, 255);
        border: #d8d8d8e7 2.5px solid;
        border-radius : 20px;
        background: #ffffff;

    }
/* -------------END HEADER-----------------------------     */
/* -------------CONTENT-----------------------------     */
    .bread2 {
        padding-top: 5%;
    }

    .MainHeader{
        padding-top: 10%;
        line-height: 40px;
    }

      .Types figure{
        margin-bottom: 10%;

    }
/* -------------Review-----------------------------     */
.name_and_date{
  flex-flow: column;
}
    .pagination-item {
      margin-right: 10px;
    }

    .pagination a {
      font-size: 1.4em;
      padding: 12px 12px;
    }
/* -------------Review-----------------------------     */

/* -----------------CarList-------------------------     */

  .Cardcar{
    width: 100%;
  }

  .boxcar{
    flex-flow: column;
    align-items: center;
  }
  .content_card_car{
    order: 1;
    width: 100%;
  }

  .boxcarfilter .big-box{

  width: 100%;

  }
  .filtercar{
    display: none;
  }
  .content_card_car .description{
    width: 100%;
    padding: 3% 0;
    font-size: 1em;
  }
  .boxcar img{
    width: 100%;
  }
  .selectcar {
    padding: 2% 14%;
  }

  .numer_card{
    width: 10%;
  }
/* -----------------CarList-------------------------     */

/* -----------------Carcard-------------------------     */
.carcard_fav1{
  display: none;
}
.carcard_fav2{
  display: block;
}

.big_card_content{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  /* background-color: yellow; */
}
.small_card_content1{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  /* background-color: turquoise; */
}

.fotorama_carcard{
  width:95%;
}
.acor_box{
  padding: 5% 0;
  width: 95%;
}

.inputs{
  width: 95%;
  font-size: 1.3em;
  /* justify-content: space-between; */
}

.inputs :first-child * {
  justify-content: space-between;
}

.item_description .description {
font-size: 1.2em;
width: 90%;

}
.rentdate{
  width: 95%;
}


/*
.slider_card{
  flex-flow: column;
  align-items: center;
  width: 95%;
}
.caritem {
  width: 85%;
}
.caritem:last-child {
  display: none;
} */





.char_content .column{
  font-size: 1em;
}
/* -----------------Carcard-------------------------     */

/* -----------------login_order-------------------------     */
.box_button{
  width: 80%;
}

.Cardcar_order{
 padding: 3% 7% 2% 1%;
}
.left_card div{
  font-size: 1.1em;
}
/* -----------------login_order-------------------------     */

/* ------------------login_favorite-------------------------- */
  .Cardcar_fav{
    width: 95%;
    padding: 4% 1%;
  }

  .description_fav{
    font-size: 1.1em;
  }
  .delete_fav{
    font-size: 1.2em;
  }


/* ------------------login_favorite-------------------------- */

/* ------------------login_carcard-------------------------- */

.inputs_login{
  font-size: 1.3em;
}
/* ------------------login_carcard-------------------------- */


/* -------------END CONTENT-----------------------------     */
}
