{% extends 'main/pattern.html' %}
{% load static %}
{%block title%}List of categories{%endblock%}
{% block description %}
<meta name="description" content="">
{% endblock %}
{% block openg %}
        <meta property="og:title" content="Catalog Ssollo" />
        <meta property="og:description" content="Rent a car of different categories Ssollo Moscow."/>
        <meta property="og:site_name" content="Ssollo car rental Moscow" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://maksmez.beget.tech/catalog/" />
        <meta property="og:image" content="http://maksmez.beget.tech/static/main/img/slider/autorent.jpg" />
{% endblock %}
{% block jsonld %}
<script type='application/ld+json'>
{
  "@context": "http://www.schema.org",
  "@type": "WebSite",
  "name": "Catalog Ssollo",
  "alternateName": "Ssollo car rental Moscow",
  "url": "http://maksmez.beget.tech/catalog/"
}
 </script>
{% endblock %}{% block content %}
   <main>
      <div id="main-container">
         <div class="bread2">
            <ul class="breadcrumbs">
               <li class="breadcrumbs-item">
                  <a class="breadcrumbs-link" href="{% url 'index' %}">Home</a>
               </li>
               <li class="breadcrumbs-item">
                  <span class="breadcrumbs-link  current">Catalog</span>
               </li>
            </ul>
         </div>
         <h1 class="MainHeader">Choose a category</h2>
            <div class="RentCategory">
               <div class="Types">
                  {%for x in catalogget%}
                  <a href="{% url 'carlist' x.id %}">
                     <figure>
                        <img src="{{x.Icon.url}}" alt="{{x.NameCat}}" width="40%">
                        <figcaption>{{x.NameCat}}</figcaption>
                     </figure>
                  </a>
                  {%endfor%}
               </div>
            </div>
      </div>
   </main>
   {% endblock %}
