{% extends 'my_admin/pattern.html' %}
{% load static %}
{%block title%}Order №{{order.id}}{%endblock%}
{% block content %}
        <section class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'start_admin' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'admin_orders' %}">All orders</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Order №{{order.id}}</li>
                </ol>
            </nav>
            <h1>Order №{{order.id}}</h1>
            {% if order.Status == 0 %}
                <h3 class="text-center text-lg-left text-success ">Active</h3>
            {% elif order.Status == 1 %}
                <h3 class="text-center text-lg-left text-warning ">Cancelled</h3>
            {% else %}
                <h3 class="text-center text-lg-left text-danger ">Completed</h3>
            {% endif %}
        </section>
        <section class="row mt-2">
            <div class="col-md-6 col-12">
                <form class="form-row">
                    <div class="form-row col-12 ">
                        <label for="name" class="col-lg-4 col-12 col-form-label">Client Name</label>
                        <div class="col-lg-8 col-12">
                            <input type="text" class="form-control mb-2" id="name" placeholder="{{order.Client.Name}}" disabled>
                        </div>
                        <label for="tel" class="col-lg-4 col-12 col-form-label">Phone</label>
                        <div class="col-lg-8 col-12">
                            <input type="tel" class="form-control mb-2" id="tel" placeholder="{{order.Client.Phone}}" disabled>
                        </div>
                        <label for="car" class="col-lg-4 col-12 col-form-label">Transport</label>
                        <div class="col-lg-8 col-12 mb-2">
                            <input type="text" class="form-control h-100" id="car" placeholder="{{order.Car.Brand_and_name}}" disabled>
                        </div>
                        <label for="datestart" class="col-lg-4 col-12 col-form-label">Start</label>
                        <div class="col-lg-8 col-12">
                            <input type="date" class="form-control  mb-2" id="datestart" value="{{order.DateStartContract|date:'Y-m-d'}}" disabled>
                        </div>
                        <label for="dateend" class="col-lg-4 col-12 col-form-label">End</label>
                        <div class="col-lg-8 col-12">
                            <input type="date" class="form-control  mb-2" id="dateend" value="{{order.DateEndContract|date:'Y-m-d'}}" disabled>
                        </div>
                        <label for="driver" class="col-lg-4 col-12 col-form-label">Driver</label>
                        <div class="col-lg-8 col-12">
                            <select class="form-control mb-2" disabled>
                                {% if order.Driver == 1 %}
                                    <option>Есть</option>
                                {% else %}
                                    <option>Нет</option>
                                {% endif %}
                            </select>
                        </div>
                        <label for="cost" class="col-lg-4 col-12 col-form-label">Cost</label>
                        <div class="col-lg-8 col-12">
                            <input type="text" class="form-control mb-2" id="cost" placeholder="{{order.Cost}}" disabled>
                        </div>
                        <label for="company" class="col-lg-4 col-12 col-form-label">Company</label>
                        <div class="col-lg-8 col-12">
                            <input type="text" class="form-control mb-2" id="company" placeholder="{{order.Car.CompanyID.Name}}" disabled>
                        </div>
                        <label for="tel2" class="col-lg-4 col-12 col-form-label">Phone</label>
                        <div class="col-lg-8 col-12">
                            <input type="tel" class="form-control mb-2" id="tel2" placeholder="{{order.Car.CompanyID.Phone}}" disabled>
                        </div>
                        <label for="address" class="col-lg-4 col-12 col-form-label">Location</label>
                        <div class="col-lg-8 col-12">
                            <input type="text" class="form-control mb-2" id="address" placeholder="{{order.Car.Location}}"
                                disabled>
                        </div>
                        <label for="note" class="col-lg-4 col-12 col-form-label">Note</label>
                        <div class="col-lg-8 col-12">
                            <textarea class="form-control mb-2" id="note" rows="5"
                                readonly>{% if order.Note != 'None' %}{{order.Note}}{% endif  %}</textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-12 mt-sm-2 mt-lg-0">
                <div class="form-row mb-3">
                    <div class="col-lg-4 col-12 mb-2">
                        <a href="{% url 'admin_update_order' order.id %}" class="btn btn-primary w-100 {%if order.Status == 1 or order.Status == 2%}disabled{% endif %}">Edit</a>
                    </div>
                    <form action="{% url 'admin_order' order.id %}" method="POST" class="col-lg-4 col-12 mb-2" >
                        {% csrf_token %}
                        <input type="submit" value="Complete" name="End" class="btn btn-danger p-2 w-100 {%if order.Status == 1 or order.Status == 2 or debt != 0 %}disabled{% endif %}" {%if order.Status == 1 or order.Status == 2 or debt != 0 %}disabled{% endif %} >
                    </form>
                    <form action="{% url 'admin_order' order.id %}" method="POST"  class="col-lg-4 col-12 mb-2">
                        {% csrf_token %}
                        <input type="submit" value="Cancel" name="Cancel" class="btn btn-warning p-2 w-100 {%if order.Status == 1 or order.Status == 2%}disabled{% endif %}" {%if order.Status == 1 or order.Status == 2%}disabled{% endif %} >
                    </form>
                </div>
                <form  action="{% url 'admin_order' order.id %}" method="POST" class="card text-center ">
                    {% csrf_token %}
                    <h5 class="card-header bg-warning">Chat with client {{order.Client.Name}}</h5>
                    <div class="card-body chat p-2">
                        {% for x in order.message_set.all %}
                        {% if x.From.Position == 2 %}
                        <div class="d-flex justify-content-start ">
                            <div class="card bg-warning col-md-6 col-12 p-1 my-2">
                                <p class="card-text text-left">{{x.Message}}</p>
                                <p class="card-text text-left"><small>{{x.Date|date:'d.m H:i'}}</small></p>

                            </div>
                        </div>
                        {% endif %}
                        {% if x.From.Position == 0 or x.From.Position == 1  %}
                        <div class="d-flex justify-content-end ">
                            <div class="card bg-primary col-md-6 col-12 p-1 my-2 text-white">
                                <p class="card-text text-right">{{x.Message}}</p>
                                <p class="card-text text-right"><small>{{x.Date|date:'d.m H:i'}}</small></p>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="card-footer form-inline p-2">
                        <div class="col-10 p-0">
                            <textarea rows="1" required placeholder="Enter message" class="form-control w-100" name="Message"></textarea>
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn"><i class="fas fa-2x fa-share"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <section class="col-12 p-0 mt-3">
            <div class="card text-center">
                <div class="card-header row justify-content-md-between m-0 align-items-center">
                    <h5 class="col-md-auto col-12 m-0"> Ruslan Kirzhanov</h5>
                    <p class="col-md-auto col-12 m-0"> r.kirzhanov@albato.ru</p>
                </div>
                <div class="card-body">
                    <form action="{% url 'admin_order' order.id %}" method="POST">
                        {% csrf_token %}
                        <textarea class="form-control" placeholder="Comments" rows="5" name="Message_com"></textarea>
                        <button type="submit" class="btn btn-primary col-md-3 col-12 p-2 float-right mt-2">Send</button>
                    </form>
                </div>
            </div>
            <div class="mt-2 comments">
                <div class="card text-center my-2">
                   {% for x in order.feedbackandcomment_set.all %}
                    <form action="{% url 'admin_delete_comment' order.id x.id  %}" method="POST" class="card-header row justify-content-md-between m-0 align-items-center">
                        {% csrf_token %}
                        <h5 class="col-md-auto col-12 m-md-0"> {{x.User.Name}} {{x.User.Fname}}</h5>
                        <p class="col-md-auto col-12 m-md-0"> {{x.User.Email}}</p>
                        <input type="submit" class="btn btn-danger col-md-auto col-12" value="Удалить">
                    </form>
                    <div class="card-body">
                        <p>{{x.Message}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <wbr>
{% endblock %}
