{% extends 'my_admin/pattern.html' %}
{% load static %}
{%block title%}Company №{{company.id}}{%endblock%}
{% block content %}
<section class="col-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'start_admin' %}">Home</a></li>

            <li class="breadcrumb-item"><a href="{% url 'admin_companies' %}">All companies</a></li>
            <li class="breadcrumb-item"><a href="{% url 'admin_company' company.id %}">{{company.Name}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Orders</li>
        </ol>
    </nav>
    <h1>{{company.Name}}</h1>
    <div class=" my-3">
        <ul class="nav nav-pills col-12 text-center p-0">
            <li class="nav-item col-md-auto col-sm-6 col-12">
                <a class="nav-link" href="{% url 'admin_company' company.id %}">Data</a>
            </li>
            <li class="nav-item col-md-auto col-sm-6 col-12">
                <a class="nav-link " href="{% url 'admin_company_cars' company.id %}">Transport</a>
            </li>
            <li class="nav-item col-md-auto col-sm-6 col-12">
                <a class="nav-link active disabled" href="">Orders</a>
            </li>
            <li class="nav-item col-md-auto col-sm-6 col-12">
                <a class="nav-link" href="{% url 'admin_employees' company.id %}">Employees</a>
            </li>
        </ul>
    </div>
    <div class="mt-5">
        {% for x in orderget %}
        <div class="card-header col-12">
            <div class="row justify-content-between align-items-center  ">
                <div class=" col-12 text-center col-sm-6 justify-content-md-around d-md-flex">
                    <h4>Order&nbsp;№{{x.id}}</h4>
                </div>
                <div class="col-12 text-center col-sm-6 text-md-right">
                    <a href="{% url 'admin_order' x.id  %}" class="btn btn-primary col-7 p-2">Go to</a>
                </div>
            </div>
        </div>
        <div class="card-body col-12 p-0 p-sm-3">
            <div class="row p-2 justify-content-between">
                <div class=" row col-lg-6 col text-md-left m-0 text-center justify-content-center   ">
                    <div class="row col-md-10 justify-content-md-between  ">
                        <h5 class="d-none d-md-block">Name</h5>
                        <h5>{{x.Client.Name}}</h5>
                    </div>
                    <div class="row col-md-10 justify-content-md-between ">
                        <h5 class="d-none d-md-block">Phone</h5>
                        <h5>{{x.Client.Phone}}</h5>
                    </div>
                    <div class="row col-md-10 justify-content-md-between ">
                        <h5 class="d-none d-md-block">Статус</h5>
                        {% if x.Status == 0 %}
                        <h5 class="text-success">Active</h5>
                        {% elif x.Status == 1 %}
                        <h5 class="text-warning">Cancelled</h5>
                        {% else %}
                        <h5 class="text-danger">Completed</h5>
                        {% endif %}
                    </div>
                </div>
                <div class=" row col-lg-6 text-md-left m-0 text-center justify-content-center    ">
                    <div class="row col-md-10 justify-content-md-between">
                        <h5 class="d-none d-md-block">Cost</h5>
                        <h5>{{x.Cost}}₽</h5>
                    </div>
                    <div class="row col-md-10 justify-content-md-between ">
                        <h5 class="d-none d-md-block">Driver</h5>
                        {% if x.Driver == 0 %}
                        <h5 class="d-none d-md-block text-success">Yes</h5>
                        {% else %}
                        <h5 class="d-none d-md-block text-danger">No</h5>
                        {% endif %}
                    </div>
                    <div class="row col-md-10 justify-content-md-between ">
                        <h5 class="d-none d-md-block">Transport</h5>
                        <h5>{{x.Car.Brand_and_name}}</h5>
                    </div>
                    <div class="row col-md-10 justify-content-md-between ">
                        <h5 class="d-none d-md-block">Date</h5>
                        <h5>{{x.DateStartContract|date:"SHORT_DATE_FORMAT"}}-{{x.DateEndContract|date:"SHORT_DATE_FORMAT"}}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
    <div>
        <nav aria-label="Пример навигации по страницам">
            <ul class="pagination justify-content-center">
                <li class="page-item {% if not prev %} disabled {% endif %}">
                    <a class="page-link" href="{{ prev }}" tabindex="-1" aria-disabled="true">&#171;</a>
                </li>
                {% for x in orderget.paginator.page_range %}
                {% if x == orderget.number %}
                <li class="page-item active"><a class="page-link" href="?page={{ x }}">{{ x }}</a></li>
                {% elif x > orderget.number|add:-3 and x < orderget.number|add:3 %} <li class="page-item"><a
                        class="page-link" href="?page={{ x }}">{{ x }}</a></li>
                    {% endif %}
                    {% endfor %}
                    <li class="page-item {% if not next %} disabled {% endif %}">
                        <a class="page-link" href="{{ next }}">&#187;</a>
                    </li>
            </ul>
        </nav>
    </div>
</section>
<wbr>
{%endblock%}
