{% extends 'my_admin/pattern.html' %}
{% load static %}
{%block title%}Add Employee{%endblock%}
{% block content %}
        <section class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'start_admin' %}">Главная</a></li>

                    <li class="breadcrumb-item"><a href="{% url 'admin_companies' %}">All companies</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'admin_company' company.id %}">Company {{company.Name}}</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'admin_employees' company.id %}">Employees</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add Employee</li>
                </ol>
            </nav>
            <h1>Add Employee </h1>
            <form action="{% url 'admin_add_employee' company.id %}" method="POST" class="form-row border border-dark p-3">
                {% csrf_token %}
                <div class="form-row col-lg-6 col-12 p-lg-2 pr-0">
                    <label for="name" class="col-sm-4 col-12 col-form-label">Name</label>
                    <div class="col-sm-8 col-12">
                        <input type="text" class="form-control mb-2" id="name" name="Name" placeholder="Name" required>
                    </div>
                    <label for="fname" class="col-sm-4 col-12 col-form-label">Surname</label>
                    <div class="col-sm-8 col-12">
                        <input type="text" class="form-control mb-2" id="fname" name="Fname" placeholder="Surname" required>
                    </div>
                    <label for="tel" class="col-sm-4 col-12 col-form-label">Phone</label>
                    <div class="col-sm-8 col-12">
                        <input type="tel" class="form-control mb-2" id="tel" name="Phone" placeholder="Phone" required>
                    </div>
                </div>
                <div class="form-row col-lg-6 col-12 p-lg-2 pr-0">
                    <label for="mail" class="col-sm-4 col-12 col-form-label">E-mail</label>
                    <div class="col-sm-8 col-12">
                        <input type="email" class="form-control mb-2" id="mail" name="Email" placeholder="E-mail" required>
                    </div>
                    <label for="company" class="col-sm-4 col-12 col-form-label">Company</label>
                    <div class="col-sm-8 col-12">
                        <input type="text" class="form-control mb-2" id="company" name="Company" value="{{company.Name}}" readonly >
                    </div>
                    <label for="comment" class="col-sm-4 col-12 col-form-label">Comments</label>
                    <div class="col-sm-8 col-12">
                        <textarea class="mb-2 form-control" rows="2" name="Comment"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary p-2 col-lg-3 col-12 my-3">Add</button>
            </form>
        </section>
        <wbr>
        {% endblock %}
