{% extends 'my_admin/pattern.html' %}
{% load static %}
{%block title%}Company №{{company.id}}{%endblock%}
{% block content %}
<section class="col-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'start_admin' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'admin_companies' %}">All companies</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{company.Name}}</li>
        </ol>
    </nav>
    <h1>{{company.Name}}</h1>
    <div class=" my-3">
        <ul class="nav nav-pills col-12 text-center p-0">
            <li class="nav-item col-md-auto col-sm-6 col-12">
                <a class="nav-link active" href="">Data</a>
            </li>
            <li class="nav-item col-md-auto col-sm-6 col-12">
                <a class="nav-link" href="{% url 'admin_company_cars' company.id %}">Transport</a>
            </li>
            <li class="nav-item col-md-auto col-sm-6 col-12">
                <a class="nav-link" href="{% url 'admin_company_orders' company.id %}">Orders</a>
            </li>
            <li class="nav-item col-md-auto col-sm-6 col-12">
                <a class="nav-link" href="{% url 'admin_employees' company.id %}">Employees</a>
            </li>
        </ul>
    </div>
    <form class="form-row p-3 border border-dark ">
        <div class="form-row col-lg-6 col-12 p-lg-2 pr-0">
            <label for="name" class="col-sm-4 col-12 col-form-label">Name</label>
            <div class="col-sm-8 col-12">
                <input type="text" class="form-control mb-2" id="name" placeholder="{{company.Name}}" disabled>
            </div>
            <label for="email" class="col-sm-4 col-12 col-form-label">E-mail</label>
            <div class="col-sm-8 col-12">
                <input type="email" class="form-control mb-2" id="email" placeholder="{{company.Email}}" disabled>
            </div>
            <label for="tel" class="col-sm-4 col-12 col-form-label">Phone</label>
            <div class="col-sm-8 col-12">
                <input type="tel" class="form-control mb-2" id="tel" placeholder="{{company.Phone}}" disabled>
            </div>
            <label for="note" class="col-sm-4 col-12 col-form-label">Note</label>
            <div class="col-sm-8 col-12">
                <textarea class="mb-2 form-control" name="note" rows="3" disabled>{{company.Note}}</textarea>
            </div>
        </div>
        <div class="form-row col-lg-6 col-12 p-lg-2 pr-0 align-content-start">
            <label for="contact" class="col-sm-4 col-12 col-form-label">Контактное лицо</label>
            <div class="col-sm-8 col-12">
                <input type="text" class="form-control mb-2" id="contact" placeholder="{{company.ContactFIO}}" disabled>
            </div>
            <label for="secemail" class="col-sm-4 col-12 col-form-label">E-mail</label>
            <div class="col-sm-8 col-12">
                <input type="email" class="form-control mb-2" id="secemail" placeholder="{{company.ContactEmail}}"
                    disabled>
            </div>
            <label for="tel2" class="col-sm-4 col-12 col-form-label">Phone</label>
            <div class="col-sm-8 col-12">
                <input type="tel" class="form-control mb-2" id="tel2" placeholder="{{company.ContactPhone}}" disabled>
            </div>
        </div>
        <div class="col-12 mt-2">
            <a href="{% url 'admin_update_company' company.id %}" type="submit"
                class="btn btn-primary mb-3 p-2 col-lg-3 col-md-12 col-sm-12">Edit</a>
            <button type="submit" class="btn btn-primary mb-3 p-2 col-lg-3 col-md-12 col-sm-12">Change password</button>
            <a href="" class="btn btn-danger mb-3 p-2 col-lg-3 col-md-12 col-sm-12" data-toggle="modal"
                data-target="#exampleModal">Delete</a>
        </div>
    </form>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
        data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <form method="POST" action="{% url 'admin_delete_company' company.id %}">
                        {% csrf_token %}
                        <h5 class="modal-title pb-4" id="exampleModalLabel">Delete company {{company.Name}}?</h5>
                        <div class="form-group">
                            <button type="submit" class="btn btn-danger">Delete</button>
                            <button type="" class="btn btn-info" data-dismiss="modal" aria-label="Close">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<wbr>
{%endblock%}
